body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Lato", sans-serif;
  padding: 4rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  margin-top: 6rem;
  font-size: 3em;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
}

p{
  margin-bottom: 0.5rem;
  text-align: center;
}

/*Hero section start*/
.Hero-section {
  background-image: url("../images/Hero1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:2rem;
}

.headertop{
  background-color:white;
}

.common-button{
  background-color: #84a37e;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: all 0.5s;
  display: inline-block;
  width: 20rem;
  padding: 0.5rem 2rem;
  margin-top: 0.5rem;
  text-align: center;
  border-radius: 5px;
}

.common-button a:hover, .common-button a:focus{
 font-weight: bold;
 border: 1px solid #1b4f11;
}

/*Footer section start*/
.site-footer {
  background-color:#84a37e;
  padding: 45px 0.5rem 20px;
  font-size: 15px;
  line-height: 24px;
  color: beige;
}

/* .site-footer hr {
  border-top-color: beige;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
} */

.site-footer h6 {
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0.5rem;  

}

.site-footer a {
  text-align: center;
  color: beige;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.copyright-text {
  margin: 0;
}

.site-footer .copyright-text,
 .site-footer .social-icons {
    text-align: center;
    max-width: 100%;
}

.socialmediaicons{
  display: flex;
  justify-content: center;
  padding: 1%;
  gap: 0.2rem;
}

