/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/*Change the default font.*/

*{
  box-sizing: border-box;
}
body {
  font-family: "Lato",sans-serif;
  overflow-x:hidden;
  margin:0;
}

/*Add space between <section> elements.*/
section {
  margin: 4rem 0;
}

h1 {
  font-family: "Lato",sans-serif;
  padding: 3rem;
  text-align: center;
  font-weight: 30;
  font-size:2rem;
}


h3 {
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
}

/*Shorten the default width of the <p> element, but ensure it is still responsive when the viewport shrinks.*/

p {
  margin-top: 0;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

.element a{
  text-decoration: none;
  color:black;
}

.subtitle{
  line-height: 10px;
  font-size: 0.9rem;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  color: #909090;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/*Add a different hover and focus state styling to the in-text link.*/
.in-text-link{
  color: black;
  
}
.in-text-link:hover{
  color:#84a37e;
  text-decoration: none;

}

.in-text-link:focus{
  color:#df2c4d;
  border: 1px solid black;
}

.itemCard .in-text-link{
  color:white;
}

.itemCard .in-text-link:hover{
    color:#d9edd6;
    border: 1px solid black;
}

.element{
    margin: 1rem; 
}

.element2{
  max-width: 900px;
  margin: auto;
  margin-bottom: 4rem;
}

/*Add a different hover and focus state styling to the image as a link.*/

.imgshow {
  width: 200px;
  height: auto;
  margin: 0 auto;
  margin-top: 0.5rem;
  left: 0;
  right: 0;
}


.linked-img:hover{
  max-height: 100%; 
  max-width: 100%;
  border-width: 3px;
	border-style: solid;
	border-color: #84a37e;
}
.linked-img:focus{
  opacity:.5;
  outline: none;
  border:3px solid #df2c4d;
}

/* Styling for the navigation button */
.button-nav {
  padding: 0.5rem;
  color: white;
  background-color: #84a37e;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 5px;
  border: none;
}

.button-nav:hover, .button-nav:focus {
  border: #84a37e;
  background-color: #1b4f11;;
}



/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/
form {
  border-radius: 10px;
  font-family: "Poppins",sans-serif;
  overflow: hidden;
  width: 300px;
}

/*Style the <input> and <label>*/

/* input {
  border-radius: 0.75rem;
  font: 14px/1.4 "Poppins",sans-serif;
  font-weight: 60;
}

input:hover{
  border:2px solid #84a37e;
  cursor:pointer;
}

input:focus{
  outline: none;
  border:2px solid #df2c4d;
} */


/* .personal-info {
  padding: 20px 20px 0 20px;
}

.personal-info label {
  color: #395870;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
} */

/* these resources are from Shay Howe website of building form*/

.topbanner {
  font-family: "Lato",sans-serif;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  border: 1px solid #f7f7f2;
  background-color: #84a37e;
  display: flex;
  justify-content: space-between;
}

.topbanner .logo{
  display: flex;
  flex: 1;
  
  align-items: center;
  margin-left: 2em;
  text-align: center;
}

.topbanner .logo a{
  text-decoration: none;
  color: #f7f7f2;
  font-family: "Lato",sans-serif;
  font-weight: bold;
}

.topbanner ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #84a37e;
}



li a {
  display: block;
  color: #f7f7f2;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

li a:hover:not(.active) {
  background-color: #df2c4d;
}

.headertop{
  display:flex;
  justify-content: space-around;
  padding: 0.5rem;

}

.headertop .mobile-icon{
  display: none;
}

.headertop .mobile-icon .fa-bars{
  font-size: 1.2rem;
}


@media screen and (max-width:850px){
  .topbanner{
    display: none;
  }

  .topbanner .logo{
    margin-left: 0;
    text-align: center;

    align-self: center;
    
  }

  .topbanner ul{
    flex-direction: column;
  }

  .introduction-background{
    margin-top: -29rem;
  }

  .headertop .mobile-icon{
    display: block;
  }

  .headertop>div:nth-of-type(2){
    display: none;
  }
  .card_desing_prduct{
    flex-direction: column;
  }


  .shoppingCart{
    flex-direction: column;
  }

 

  .paymentmethod{
    flex-direction: column;
  }

  .colour{
    text-align: center;
  }
  
  .quantity{
    text-align: center;
  }

  .btn-box{
    justify-content: center;
  }
  
 
  
}

.card_desing_prduct{
  width:auto;
  display: flex;
  margin:2rem;
  margin-right: 0;
  justify-content:center;
}
.itemimg {width: 100%;}
.iteminfo { text-decoration: none; }

.itemCard {
  background-color: #84a37e;
  width: 300px;
  border:1px solid #84a37e;
  margin: 0 2rem;
  transition: all 0.5s ease-in-out 0s;
  flex: 1;
}

.crd_img {
  width: 100%;
  overflow: hidden;
  transform: translate(-10px,-10px);
  transition: all 0.5s ease-in-out 0s;
}

.crd_img img {
  height: 100%;
  transform: scale(1.0);
  transition: all 0.9s ease-in-out 0s;
}

.itemCard h5 {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
  transition: all 0.5s ease-in-out 0s;
}

.itemCard:hover .crd_img { 
   transform: translate(0px,0px);
}

.itemCard:hover, .itemCard:focus {
  background-color: #df2c4d; 
  border-width: 3px;
  border:1px solid #df2c4d;
}



.paymentform{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-top: 4rem;
  
}

.paymentmethod{
  display: flex;
  justify-content: center;
}


.billingaddress,.payment{
  background-color: #e7e7e7;
  padding: 1.5rem 1.75rem 2.5rem 1.75rem ;
  flex: 1;
}


.paymenttitle{
  font-family: "Poppins",sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 2rem 0rem 0rem 0rem;
  color: black;
  margin-top: 0rem;
}
input[type=text]{
  margin-top:0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  width: 100%;
}

input[type=text]:hover{
  border:2px solid #84a37e;
  cursor:pointer;
}

input[type=number]{
  margin-top:0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  width:100%;
}

input[type=checkbox]{
  margin-top: 1rem; 
  border: 1px solid #84a37e;
}

.paymentform input:hover{
  border-color: #84a37e;
  border-width: 2px;
}

.paymentform input:focus{
  border-color: rgb(45, 91, 216);
  border-width: 2px;
}


.shoppingCart{
  display: flex;
  justify-content: center;
  
}

.cartimg,.bag-total{
  background-color: #e7e7e7;
  padding: 2.5rem 2.75rem 2rem 1.75rem ;
  /*flex: 1;*/
}

.cartimg img{
  width: 100%;
}
.itemtitle p{
  margin-top: 3rem;
  font-size: 20px;
  font-weight: bold;
}
.subtotal p{
  font-size: 20px;
  font-weight: bold;
}

.subtotal{
  margin-top: 5rem;
}

.delivery{
  border-bottom:  1px solid #333;
  width: 50vw;
}
.total{
  margin-top: 6rem;
  width: 40%;
  border-radius: 5px;
}

.delivery-price{
  color: green;
}

.change-delivery{
  color: black;
}

.change-delivery:hover{
  color:#df2c4d;
}

.footer{
  background-color: #84a37e;
}

.footer.foottitle a{
  font-weight: bold;
  color: #333;
}



/*
Source used for colour demo box:
Heng, C. (n.d.). How to create a coloured ("colored") box in HTML/CSS. Retrieved from https://www.thesitewizard.com/css/create-coloured-box.shtml

Source used for float left:
Applying color to HTML elements using CSS. (n.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Applying_color#things_that_can_have_color
*/

/*
Earring Product Page Styling
*/
/* .flex-box *{
  border: 1px solid red;
} */







.images{
  display:flex;
  justify-content:start;
  margin-top: 1em;
}

.small-img{
  width: 7rem;
  margin-right: 1em;
  overflow:hidden;
} 

.small-img img{
  width:inherit;
  cursor:pointer;
  transition: all 0.3s ease;
}

.small-img:hover img{
  transform: scale(1.2);
}

.quantity input[type=number]{
  margin-top:0.5rem;
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.75rem;
  width: 25%;
  height: .5%;
}

.url{
  font-size:16px;
  font-weight:400;
  color: #df2c4d;
}

.prodname{
  font-size:22px;
  font-weight:600;
  margin-top:3.125rem;
}

.inner select{
  width:20%;
}

.colour select{
  width: 25%;
}

.ratings i{
  color: red;
}

.price{
  font-size:1.25rem;
  font-weight:500;
  margin: 1.25rem 0;
}

.prodcolour p{
  font-size:1.125rem;
  font-weight: 500;
}

.quantity p{
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.quantity input{
  width:1.875rem;
  font-size:1rem;
  font-weight:500;
  text-align:center;
}

.description p{
  max-width: 30rem;
  font-family: "Poppins",sans-serif;
  margin-bottom: 1rem;
  margin-top: 0rem;
  font-size:1rem;
  font-weight: 60;
}


.cart-box input{
  font-size:1rem;
  padding: 1rem 5.4rem;
  border-radius: 0;
  color:#000000;
  background-color: #ffffff;
}

.btn-box input{
  font-size:1rem;
  padding: 1rem 5.4rem;
  border-radius: 0;
  color:#000000;
  background-color: #ffffff;
}

.cart-btn{
  border: 0.25rem solid #84a37e;
  margin-right:1rem;
}

.cart-btn:hover{
  border: 0.25rem solid #df2c4d;
}


/*
  Source used for earring product page styling:
  Safi, R. A. [Rizowan Ahmed Safi]. (2021, July 23). Ecommerce Product Details Page Design Using HTML And CSS | Ecommerce Website | Rizowan Ahmed Safi [Video]. Youtube https://www.youtube.com/watch?v=F-6hvovxaSs
*/

/*
Contact Us Page
*/
.contact{
  margin-top: 0;
  font-size:1.5rem;
  font-weight: bold;
  font-family: "Poppins",sans-serif;
}

select{
  margin-top:0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  width:100%;
  height: .5%;
  font: 14px/1.4 "Poppins",sans-serif;
  font-weight: 60;
  /*
  border-radius: 0.9375rem;
  */
}

.customerinfo{
  margin-top:.5rem;
}

.comment input{
  height:5rem;
}



/*
Source used for colour demo box:
Heng, C. (n.d.). How to create a coloured ("colored") box in HTML/CSS. Retrieved from https://www.thesitewizard.com/css/create-coloured-box.shtml

Source used for float left:
Applying color to HTML elements using CSS. (n.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Applying_color#things_that_can_have_color
*/

/* PASSWORD PROTECTED PART ------------*/
/* style the popup container */
#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* show the popup when it has the "show" class */
#popup.show {
  opacity: 1;
  visibility: visible;
}

/* style the close button */
#popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #999;
  cursor: pointer;
}

/*
Source for pop up:
  Timed alert box pop up for website? [duplicate]. (2014). Retrieved from https://stackoverflow.com/questions/16836075/timed-alert-box-pop-up-for-website
  How to - CSS/JS modal. (n.d.). Retrieved from https://www.w3schools.com/howto/howto_css_modals.asp#gsc.tab=0
  How to - Popup. (n.d.). Retrieved from https://www.w3schools.com/howto/howto_js_popup.asp
*/
