/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/*Change the default font.*/


body {
  font-family: "Lato",sans-serif;
  padding: 2rem
}

.element {
  padding-bottom: 2rem;
  padding-left: 4rem;
}

/*Add space between <section> elements.*/

section {
  margin: 4rem 0;
  
}

h1 {
  font-family: "Lato-Light",sans-serif;
  padding: 4rem;
  text-align: center;
  font-weight: 60;
  font-size:2rem;
}

h2 {
  margin-top: 6rem;
  font-size: 3em;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
}

/*Shorten the default width of the <p> element, but ensure it is still responsive when the viewport shrinks.*/

p {
  font-family: "Poppins",sans-serif;
  width: 1000px;
  margin-top: 0;
  font-weight: 60;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

.element a{
  text-decoration: none;
  color: white;
}

.subtitle{
  line-height: 10px;
  font-size: 0.9rem;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  color: #909090;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/*Add a different hover and focus state styling to the in-text link.*/
.in-text-link{
  color: black;
}
.in-text-link:hover{
  color:#84a37e;
  text-decoration: underline;

}

.in-text-link:focus{
  color:#df2c4d;
  border: 1px solid black;
}

.itemCard .in-text-link{
  color:white;
}

.itemCard .in-text-link:hover{
    color:#d9edd6;
    border: 1px solid black;
}

/*Add a different hover and focus state styling to the image as a link.*/

.imgshow {
  width: 200px;
  height: auto;
  margin: 0 auto;
  margin-top: 0.5rem;
  left: 0;
  right: 0;
}


.linked-img:hover{
  max-height: 100%; 
  max-width: 100%;
  border-width: 3px;
	border-style: solid;
	border-color: #84a37e;
}
.linked-img:focus{
  opacity:.5;
  outline: none;
  border:3px solid #df2c4d;
}

/* Styling for the navigation button */
.button-nav {
  margin-top: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 15px;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
  font-weight: bold;
}



/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/
form {
  border-radius: 10px;
  font-family: "Poppins",sans-serif;
  overflow: hidden;
  width: 300px;
}

/*Style the <input> and <label>*/

input {
  border-radius: 15px;
  font: 14px/1.4 "Poppins",sans-serif;
  font-weight: 60;
}

input:hover{
  border:2px solid #84a37e;
  cursor:pointer;
}

input:focus{
  outline: none;
  border:2px solid #df2c4d;
}


.personal-info {
  padding: 20px 20px 0 20px;
}

.personal-info label {
  color: #395870;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

/* these resources are from Shay Howe website of building form*/

.topbanner {
  font-family: "Lato",sans-serif;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  border: 1px solid #f7f7f2;
  background-color: #84a37e;
  display: flex;
  justify-content: space-between;
  background-color: #84a37e;
}

.topbanner .logo{
  display: flex;
  flex: 1;
  
  align-items: center;
  margin-left: 2em;
  text-align: center;
}

.topbanner .logo a{
  text-decoration: none;
  color: #f7f7f2;
  font-family: "Lato",sans-serif;
  font-weight: bold;
}

.topbanner ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #84a37e;
}



li a {
  display: block;
  color: #f7f7f2;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

li a:hover:not(.active) {
  background-color: #df2c4d;
}

@media screen and (max-width:850px){
  .topbanner{
    flex-direction: column;
    padding: 1rem;
  }

  .topbanner .logo{
    margin-left: 0;
    text-align: center;

    align-self: center;
    
  }


  .topbanner ul{
    flex-direction: column;
  }
  
}
.card_desing_prduct{
  display: flex;
  justify-content:center
}
.itemimg {width: 100%;}
.iteminfo { text-decoration: none; }


.itemCard {
  background-color: #84a37e;
  width: 300px;
  border:1px solid #84a37e;
  margin: 0 30px 40px 0;
  transition: all 0.5s ease-in-out 0s;
  flex: 1;
}

.crd_img {
  width: 100%;
  overflow: hidden;
  margin: -10px 0 0 -10px;
  transition: all 0.5s ease-in-out 0s;
}

.crd_img img {
  height: 100%;
  transform: scale(1.0);
  transition: all 0.9s ease-in-out 0s;
}

.itemCard h5 {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
  transition: all 0.5s ease-in-out 0s;
}
.itemCard:hover .crd_img { 
   margin: 0;
}

.itemCard:hover {
  background-color: #df2c4d; border-width: 3px;
  border:1px solid #df2c4d;
}

@media screen and (max-width:850px){
  .card_desing_prduct{
    flex-direction: column;
  }
  
}

.paymentform{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  max-width: 60rem;
  
}

.billingaddress,.payment{
  background-color: #e7e7e7;
  padding: 0.5rem 1.75rem 1.05rem 1.75rem ;
  flex: 1;
}

.paymenttitle{
  font-family: "Poppins",sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 2rem 4rem 2rem 0rem;
  color: black;
}
input[type=text]{
  margin-top:0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

input[type=number]{
  margin-top:0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

.paymentform input:hover{
  border-color: #84a37e;
  border-width: 2px;
}

.paymentform input:focus{
  border-color: rgb(45, 91, 216);
  border-width: 2px;
}



@media screen and (max-width:850px){
  .paymentform{
    flex-direction: column;
  }
  
}

.shoppingCart{
  display: flex;
  justify-content: center;
  
}

.cartimg,.bag-total{
  background-color: #e7e7e7;
  padding: 0.5rem 1.75rem 1.05rem 1.75rem ;
  /*flex: 1;*/
}
.itemtitle p{
  margin-top: 3rem;
  font-size: 20px;
  font-weight: bold;
}
.subtotal p{
  font-size: 20px;
  font-weight: bold;
}

.subtotal{
  margin-top: 5rem;
}

.delivery{
  border-bottom:  1px solid #333;
  width: 70%;
}
.total{
  margin-top: 6rem;
  width: 40%;
  border-radius: 5px;
}

.delivery-price{
  color: green;
}

.change-delivery{
  color: black;
}

.change-delivery:hover{
  color:#df2c4d;
}

@media screen and (max-width:850px){
  .shoppingCart{
    flex-direction: column;
  }
  
}

.footer{
  background-color: #84a37e;
}

.footer.foottitle a{
  font-weight: bold;
  color: #333;
}

.colorscheme .colorplate1{
  color: #EEE;
  background-color: #333;
}

.colorscheme .colorplate2{
  background-color: #84a37e;

}
.colorscheme .colorplate3{
  background-color:#ffffff;
}

.colorscheme .colorplate4{
  background-color:#df2c4d;
}

#greenbox {
  float: left;
  background-color: #84a37e ;
  padding: 10px ;
  border: 1px solid #000000 ;
  width: 1px;
}

#whitebox {
  float: left;
  background-color: #ffffff;
  padding: 10px ;
  border: 1px solid #000000 ;
  width: 1px;
}

#redbox {
  float: left;
  background-color: #df2c4d ;
  padding: 10px ;
  border: 1px solid #000000 ;
  width: 1px;
}

#blackbox {
  float: left;
  background-color: #000000 ;
  padding: 10px ;
  border: 1px solid #000000 ;
  width: 1px;
}

/*
Source used for colour demo box:
Heng, C. (n.d.). How to create a coloured ("colored") box in HTML/CSS. Retrieved from https://www.thesitewizard.com/css/create-coloured-box.shtml

Source used for float left:
Applying color to HTML elements using CSS. (n.d.). https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Applying_color#things_that_can_have_color
*/