html {
  scroll-behavior: smooth;
}

.product-listng{
  overflow: hidden;
}

.flex-container {
  margin-left: 4rem;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-top: 3rem;
  flex: 100%;
  flex-wrap: wrap;
}

form{
  display: inline;
}

.block {
  max-width: 30%;
  min-width: 30%;
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
}

.block p {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0.5rem;
}

.block img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.block .cart-btn{
 width:100%;
}

.block .cart-box input{
  padding: 5% 18%;
}

.block a {
  margin-bottom: 1rem;
  overflow: hidden;
  text-decoration: none;
  color: #84a37e;
}

.block a:hover {
  margin-bottom: 1rem;
  overflow: hidden;
  text-decoration: none;
  color: #df2c4d;
}

@media screen and (max-width: 850px) {

  .introduction {
    overflow: hidden;
    width:100%;
  }

  .flex-container{
    max-width: 100%;
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    padding:0;
    flex-direction: column;
    max-width: 100%;
  }

  .block {
    padding: 10px;
    max-width: 100%;
    flex-direction: column;
  }
  
}